@font-face {
    font-family: "Segoe Regular";
    src: url(./assets/fontes/Segoe-UI.ttf);
}

@font-face {
    font-family: "Segoe Bold";
    src: url(../assets/fontes/Segoe-UI-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Segoe Regular';
    scroll-behavior: smooth;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    color: #231F20;
}

.input-disabled {
    cursor: default !important;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

/* Font style */

.font-white {
    color: white;
}

.font-gray {
    color: #979797
}

.font-light-green {
    color: #84C440;
}

.font-green {
    color: #0E6E38;
}

/* Font size */
.fs-9 {
    font-size: .563rem;
}

.fs-10 {
    font-size: .625rem;
}

.fs-11 {
    font-size: .688rem;
}

.fs-12 {
    font-size: .75rem;
}

.fs-13 {
    font-size: .813rem;
}

.fs-14 {
    font-size: .875rem;
}

.fs-15 {
    font-size: .938rem;
}

.fs-16 {
    font-size: 1rem;
}

.fs-18 {
    font-size: 1.125rem;
}

.fs-20 {
    font-size: 1.25rem;
}

.fs-22{
    font-size: 22px;
}

.fs-25 {
    font-size: 1.563rem;
}

.fs-30 {
    font-size: 1.875rem;
}

.fs-35 {
    font-size: 2.188rem;
}

body {
    overflow-x: hidden;
}

.green-button {
    background: #0E6E38;
    color: white;
    border: none !important;
    width: 100px;
    border-radius: 2px;
    padding: 12px;
    margin-top: 10px;
    cursor: pointer;
    transition: all .5s;
}

.green-button:hover {
    background: #0a532a;
}

.blue-button {
    background: #0e3d6e;
    color: white;
    border: none !important;
    width: 100px;
    border-radius: 2px;
    padding: 12px;
    margin-top: 10px;
    cursor: pointer;
    transition: all .5s;
}

.blue-button:hover {
    background: #072646;
}

.gray-button {
    background: #B5B5B5;
    color: white;
    border: none !important;
    width: 100px;
    border-radius: 2px;
    padding: 12px;
    margin-top: 10px;
    cursor: pointer;
    transition: all .5s;
}

.gray-button:hover {
    background: #999999;
}

.main-content {
    width: 100%;
    background: #FBFBFB;
    min-height: 969px;
    transition: margin .6s;
}

.main-content-menu-open {
    margin-left: 18% !important;
}

.main-section {
    background: #FBFBFB;
    justify-content: center;
    width: 100%;
    padding: 50px;
    height: 100%;
    transition: all .6s;
}

.main-section-menu-open {
    width: calc(100% - 18%) !important;
}

#menu-control{
    cursor: pointer;
}

#top-menu-section {
    background: #0E6E38;
    padding: 20px;
    width: 100%;
}

#side-menu-section {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 18%;
    background: white;
    padding: 0 5px;
    transition: all .5s;
}

.menu-open {
    left: 0 !important;
}

#menu-logo {
    margin-bottom: 15px;
}

#side-menu-section nav ul li {
    padding: 15px 25px;
    font-weight: bold;
    font-size: 17px;
    position: relative;
    transition: all .3s;
    cursor: pointer;
}

#side-menu-section nav ul li:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: #0e6e382f;
    border-radius: 10px;
    left: 0;
    bottom: 0;
    transition: all .3s;
}

#side-menu-section nav ul li a {
    color: #231f20de;
}

#side-menu-section nav ul li:hover a {
    color: #231F20;
}

#side-menu-section nav ul li:hover::after {
    background: #0E6E38;
}

.active-link {
    color: #0E6E38 !important;
}

.active-link:after {
    background: #0E6E38 !important;
}